@import 'common/variables';

// Automatically injected Bower dependencies via wiredep (never manually edit this block)
// bower:scss
@import '../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss';
// endbower

@import 'common/global';
@import 'components/buttons';
@import 'components/comments';
@import 'components/forms';
@import 'components/grid';
@import 'components/wp-classes';
@import 'layouts/header';
@import 'layouts/sidebar';
@import 'layouts/catalog';
@import 'layouts/footer';
@import 'layouts/pages';
@import 'layouts/posts';
@import 'layouts/registration';
@import 'layouts/tinymce';

.row{
  margin:0;
}
  
/* XS styling */
@media (max-width: $screen-xs-max) {
  .container {
    width: inherit;
  }
}

/* SM styling */
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .container {
    width: inherit;
  }
}

body {
  font-family: $font-family-sans-serif;
  letter-spacing: 0.05em;
  p::after,p::before {
    content:" ";
    display:table
  }
  p::after {
    clear:both
  }
}
.noradiusbtn{
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px; 
}
.ajaxloader{
  display:block;
  margin: 6em auto;
}
.liststyle{
  list-style:none;
  padding: 0;
  margin-left: 0.9em;
  li {
    text-indent: -0.8em;
  }
  li::before {
    content: ">";
    padding-right:7px;
  }
}

.btn:not(.textbook .btn) {
  padding: 1em 3em;
  font-weight: bold;
}

main{
  ul {
    @extend .liststyle;
  }
  p:not(p .textwidget, #getinvolved p) {
    margin: 2em 0em 3em;
    font-size: 1.05em;
    font-weight: 400;
  }
  p:not(:only-type):first-of-type {
    margin: 0em 0em 3em;
  }
  p:not(:only-type):last-of-type {
    margin: 2em 0em 0em;
  }
}

.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  //opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#main-header{
  background-image: url('../images/ryerson_stock_bg.jpg');
}
#front-getinvolved-section{
  background-image: url('../images/ryerson_stock_bg_2.jpg');
}
#front-openeducation-section, #learners-getinvolved-section{
  background-image: url('../images/ryerson_stock_bg_3.jpg');
}
#page-footer-section {
  background-image: url('../images/ryerson_stock_bg_3.jpg');
}
#educators-recentlyadded-section{
  background-image: url('../images/ryerson_stock_bg_2.jpg');
}
#main-header.librarybg {
  background-image: url('../images/library_bg.jpg');
}

.splashbox{
  margin: 50px 0;
}

.infobox{
  padding: $padding-base-horizontal*3;
  min-height: 300px;
  h3{
  	text-transform:uppercase;
    font-size:3em;
    margin:0.15em 0 1em 0;
    font-weight:600;
  }
}

.headerbar {
  height: 10px;
  width: 80px;
  border: none;
  margin: 1em auto 1.5em;
}

.main section {
  padding: 3em 3em 6em;
  margin-top: 3em;
  margin-bottom: 3em;
  &:last-of-type{
    margin-bottom: 10em;
  }
}

#quick-searchbox {
  border: 1px solid #aeaeae;
  border-radius: 2px;
  height: 60px;
  display: block;
  background-color: #fff;
  input[type="text"] {
    border: none;
    display: inline-block;
    width: 90%;
    height: 55px;
    margin-top: 2px;
    font-size: 1.1em;
    font-family: $font-family-sans-serif;
    box-shadow:none!important;
  }
  input[type="text"]:focus, input[type="text"]:active, input[type="text"]:hover {
    box-shadow:none!important;
  }
  img {
    display: inline-block;
    width: 50px;
    float: right;
    vertical-align: middle;
    margin: 4px auto;
  }
}

#quick-browsebox {
  #browse-btn {
    height: 60px;
    font-weight: 600;
    font-size: 1.1em;
    padding: 1em 1em;
  }
}

/* XS styling */
@media (max-width: $screen-xs-max) {
  #quick-searchbox {
    margin-bottom: 1em;
    padding: 0 10px;
    input[type="text"] {
      width: 70%;
      display: inline-block;
    }
  }
  #quick-browsebox {
    padding: 0;
    #browse-btn {
      width: 100%;
    }
  }
}

/* SM styling */
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  #quick-searchbox {
    margin-bottom: 1em;
    padding: 0 10px;
    input[type="text"] {
      width: 70%;
    }
  }
  #quick-browsebox {
    padding: 0;
    #browse-btn {
      width: 100%;
    }
  }
}

.section1,.section2,.section3{
  
}

section.whitebox {
  padding: 100px 0;
}

section.bgbox{
  padding: 150px 0;
}

#front-interface{
  margin: 150px auto;
  #quick-search{
    input[type='text'] {
      border:none;
      line-height:1.5em;
      padding:0.15em 0.2em;
    }
  }
}
#educator-tools,#catalogue{
  text-align:center;
}

.box-header{
  text-align:center;
  p {
    margin: 1em 0 3em;
  }
  hr {
    @extend .headerbar;
    background-color:$clr2-dark;
  }
  h2 {
    font-size:3em;
    margin:0.15em 0 1em 0;
    text-transform: uppercase;
    font-weight: bold;
    color: $clr2-dark;
  }
}
/* XS styling */
@media (max-width: $screen-xs-max) {
  .box-header {
    h2 {
      margin: 1em 0;
    }
    p {
      margin: 1em 1em 2em;
    }
  }
}
/* SM styling */
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .box-header {
    h2 {
      margin: 1em;
    }
    p {
      margin: 1em 3em 2em;
    }
  }
}

#getinvolved {
  text-align:center;
  border: 2px solid darken($clr4,20%);
  border-radius: 4px;
  background-color: #fff;
  margin-left: 8.3333333%; /* HACK: stylesheet calls a margin-left: -1 from _modals.scss. needs troubleshooting. */
  padding: 0;
  .box-header {
    hr {
      margin-top: 4em;
      background-color:darken($clr4,20%);
    }
    h2 {
      font-size:2.8em;
      margin: 0.15em 3em 1em 3em;
      text-transform: uppercase;
      font-weight: bold;
      color: darken($clr4,20%);
    }
    p {
      margin: 3em 7.5em;
      font-family: $font-family-sans-serif;
      font-size: 1.05em;
      font-weight: 400;
      line-height: 2em;
    }
  }
  /* XS styling */
  @media (max-width: $screen-xs-max) {
    .box-header {
      h2 {
        margin: 1em;
      }
      p {
        margin: 1em 3em 2em;
      }
    }
  }
  
  #getinvolved-box {
    padding: 0;
    
    #findoutmore-box {
      padding: 8em 0;
      background-image: url(../images/ecampusontario-bg-1.png);
      background-repeat: no-repeat;
      background-size: cover;
      
      #findoutmore-btn {
        @extend .btn;
        @extend .btn-primary;
        @include button-variant($btn-tertiary-color, darken($clr4,20%), darken($clr4,20%));
        margin: 0 auto;
        font-size: 1.2em;
        padding: 1em 3em;
      }
    }
  }
}

#recentlyadded {
  text-align:center;
  border: 2px solid darken($clr4,20%);
  border-radius: 4px;
  background-color: #fff;
  padding: 0;
  .box-header {
    hr {
      margin-top: 4em;
      background-color:darken($clr4,20%);
    }
    h2 {
      font-size:2.8em;
      margin: 0.15em 3em 1em 3em;
      text-transform: uppercase;
      font-weight: bold;
      color: darken($clr4,20%);
    }
  }
  /* XS styling */
  @media (max-width: $screen-xs-max) {
    .box-header {
      h2 {
        margin: 1em;
      }
      p {
        margin: 1em 3em 2em;
      }
    }
  }
}

#peerreview {
  text-align:center;
  padding-left:0;
  padding-right:0;
  .box-header {
    background: #fff;
    hr {
      background-color:$clr2-med;
    }
    h2 {
      font-size:2.8em;
      margin:0.15em 0 1em 0;
      text-transform: uppercase;
      font-weight: bold;
      color: $clr2-med;
    }
  }
  /* XS styling */
  @media (max-width: $screen-xs-max) {
    .box-header {
      h2 {
        margin: 1em;
      }
      p {
        margin: 1em 3em 2em;
      }
    }
  }
  #peerreview-box {
    @extend .infobox;
    background-color:$clr2-med;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 4px;
  
    #peerreview-list {
      text-align: left;
      
      h3 {
        font-size:2.5em;
      }
      ul {
        @extend .liststyle;
      }
      li {
        font-size: 1.3em;
      }
    }
    #peerreview-logo img {
      display:block;
      float:right;
      max-width: 200px;
      padding: 0;
    }
    #submitapplication-box {
      padding: 4em 0;
      #peerreview-btn {
        @extend .btn;
        @extend .btn-inverted;
        margin: 0 auto;
        padding: 1em 3em;
        font-size: 1.2em;
      }
      /* XS styling */
      @media (max-width: $screen-xs-max) {
        #peerreview-btn {
          width: 100%;
          padding: 1em;
        }
        #peerreview-logo img {
         display:block;
         float:none;
         margin: 3em auto 0;
        }
      }
    }
  }
}

#learners-resources-box {
  li{
    margin-bottom: 0.5em;
  }
}

#learners-getinvolved{
  @extend #peerreview;
  background-color:darken($clr4,20%);
  padding: 36px;
  color: #fff;
  border-radius: 4px;
  border: 2px solid darken($clr4,20%);
  .box-header {
    background-color:darken($clr4,20%);
    hr {
      background-color:#fff;
    }
    h2 {
      font-size:2.8em;
      margin:0.15em 0 1em 0;
      text-transform: uppercase;
      font-weight: bold;
      color: #fff;
    }
  }
  #learners-getinvolved-box {
    @extend .infobox;
    text-align:left;
    color: #fff;
    border: none;
    border-radius: 0;
    padding:0px;
    min-height:unset;
    h4{
      font-size: 1em;
      font-family: $font-family-alt-header;
      margin: 1.5em 0 0 0;
    }
  }
}

#openeducation {
  text-align:center;
  border: 2px solid $clr3;
  border-radius: 4px;
  background-color: #fff;
  margin-bottom: 5em;
  padding: 2.3em;
  .box-header {
    hr {
      @extend .headerbar;
      background-color:$clr3;
    }
    h2 {
      font-size:2.8em;
      margin:0.15em 0 1em 0;
      text-transform: uppercase;
      font-weight: bold;
      color: $clr3;
    }
  }
  /* XS styling */
  @media (max-width: $screen-xs-max) {
    .box-header {
      h2 {
        margin: 0;
      }
      p {
        margin: 1em 3em 2em;
      }
    }
  }
  #openeducation-box {
    #twitter-btn,#rss-btn{
      @extend .btn;
      @extend .btn-tertiary;
      font-weight: 600;
      padding: 0.75em 1.5em;
    }
    /* XS styling */
    @media (max-width: $screen-xs-max) {
      #twitter-btn,#rss-btn {
        width:100%;
      }
    }
    #social-media-box {
      padding: 0;
      div {
        padding: 0;
      }
      #openeducation-twitter-logo,#openeducation-rss-logo {
        max-width: 32px;
        display:block;
        margin: 0 auto;
      }
      #twitterfeed p {
        height: 300px;
        overflow: auto;
        margin: 15px;
      }
      /* XS styling */
      @media (max-width: $screen-xs-max) {
        #twitterfeed p {
          margin:0;
        }
      }
      #rssfeed {
        .nav-links{
          display:none;
        } 
        ul {
          height: 300px;
          width: 100%;
          overflow-y: auto;
          overflow-x: hidden;
          margin: 15px;
          .feed-item-link {
            text-align: left;
            text-indent: 0;
            width: 98%;
            word-wrap: break-word;
            background-color: $clr3-light;
            margin-bottom: 6px;
            padding:8px;
            
            .wprss-feed-meta {
              font-size: 0.8em;
            }
          }
          .feed-item-link:hover {
            background-color: #fff;
          }
          .feed-item-link::before {
            padding:0;
            content:'';
          }
        }
        /* XS styling */
        @media (max-width: $screen-xs-max) {
          ul{
            margin:0;
          }
        }
      }
    }
  }
}

#review {
  @include educatoractionbox(#fff,$clr1,$clr1);
  #review-btn{
    @extend .btn;
    @extend .btn-inverted;
  }
  #review-btn:hover{
    background-color:lighten($clr1,10%);
  }
}

#adopt {
  @include educatoractionbox(#fff,$clr2-dark,$clr2-dark);
  #adopt-btn{
    @extend .btn;
    @extend .btn-inverted;
  }
  #adopt-btn:hover{
    background-color:lighten($clr2-dark,10%);
  }
}

#adapt {
  @include educatoractionbox($clr2-dark,$clr2-light,$clr2-light);
  #adapt-btn{
    @extend .btn;
    @extend .btn-secondary;
  }
  #adapt-btn:hover{
    background-color:lighten($clr2-light,10%);
  }
}

#create {
  @include educatoractionbox($clr2-dark,$clr2-dark,#fff);
  #create-btn{
    @extend .btn;
    @extend .btn-secondary;
  }
  #create-btn:hover{
    background-color:lighten($clr2-light,30%);
  }
}

#maintitle{
  text-align:center;
  margin: 100px auto 30px;
  h1 {
    color: $clr4;
    font-size:3.5em;
    margin:0.15em 0 1em 0;
    text-transform: uppercase;
    font-weight: bold;
  }
  p {
    font-family: $font-family-sans-serif;
    font-weight: 400;
    line-height: 2em;
  }
}

/* EDUCATOR PAGE */

#educators-resources-box {
  margin-bottom: 2em;
}

#recentlyadded {
  display: none;
}

/* !TEMP: Kludgy fixes */

#post-8-section, #post-48-box {
  h1 {
    font-size: 1.8em;
    text-transform: uppercase;  
    margin-bottom: 0;
  }
  
  br {
    margin-bottom: 1em;
  }
}

#post-13-header, #post-48-header {
  display: none;
}

#textbook-read-description {
  display: none;
}