.page-header {
  text-align: center;
  border-bottom: 0;
}

.error404 .page-content {
  text-align: center;
}

.page-content {
  @extend .centerbox;
  padding-left:0;
  padding-right:0;
  hr {
    @extend .headerbar;
    background-color:$clr2-dark;
  }
  h2.entry-title {
    font-size:3em;
    margin:0.15em 0 1em 0;
    text-transform: uppercase;
    font-weight: bold;
    color: $clr2-dark;
  }
  .entry-content {
    @extend .infobox;
    background-color:#fff;
    color: $clr2-dark;
    border: 2px solid $clr2-dark;
    border-radius: 4px;
    text-align: left;
    hr {
      @extend .headerbar;
      background-color:#fff;
    }
    .btn-inverted {
      padding: 1.3em 2em;
      font-size: 1.4em;
    }
    p:not(:only-type):first-of-type {
      margin: 0em 0em 3em;
    }
    p:not(:only-type):last-of-type {
      margin: 2em 0em 0em;
    }
  }  
}

#page-footer {
  height: 200px;
  display: block;
}