.catalog {
  @include make-row();
}

.book {
  @include make-md-column(4);
  margin-bottom: 2em;
}

.book img {
  height: auto;
  max-width: 100%;
}

.book h2 {
  margin-bottom: .5em;
}

.book .author {
  font-style: italic;
}

.showmore{
  font-size: 0.7em;
  text-transform: uppercase;
  margin-left: 2em;
  margin-top: 0.5em; 
}

.showmore:hover {
  text-decoration: underline;
  cursor: pointer;
}

#discovery{
  background-color: #fff;
  font-family: $font-family-header;
  #discovery-interface {
    background-color: $clr4-lighter;
    padding: 30px;
    color: $clr1;
    h4 {
      color: $clr4-darker;
      text-align: center;
      text-transform: uppercase;
      margin: 0 auto 30px;
      font-weight: bold;
    }
    #discovery-keyword {
      border: 1px solid $clr1;
      border-radius: 2px;
      height: 50px;
      width: 100%;
      padding: 2px;
      display: block;
      background-color: #fff;
      
      input[type="text"] {
        border: none;
        line-height: 1.5em;
        height: 44px;
        font-family: $font-family-sans-serif;
        box-shadow:none!important;
        :focus{
          box-shadow:none!important;
        }
      }
    }
    #discovery-facets {
      h5 {
        text-transform: uppercase;
        font-weight: bold;
        margin: 20px 0 6px 0;
        
        img.icon{
          width: 14px;
          vertical-align: top;
          margin: 1px 0 0 3px;
        }
      }
      ul {
        list-style:none;
        margin:0;
        padding:0;
        font-weight: normal;
    
        li {
          list-style: none;
          line-height: 16px;
          font-size: 0.9em;
          cursor: pointer;
          margin-bottom: 0.25em;
          text-indent: 0px;
        }
        li::before {
          content: "\00a0";
          background-image: url(../images/ui-blank.png);
          margin:0;
          background-size: 0.83em;
          padding: 0px;
          color: #fff;
          width: 1.6em;
          display:inline-block;
          background-position: 0.1em 0.1em;
          background-repeat: no-repeat;
        }
        li.selected {
    	    font-family: $font-family-alt-header;
        }
        li.selected::before {
    	  content: "\00a0";
          background-image: url(../images/ui-darkbullet-right.png);
        }
        
        li:hover::before {
    	  content: "\00a0";
          background-image: url(../images/ui-darkbullet-right.png);
          opacity: 0.4;
        }

        .subjectfacet {
          text-transform: capitalize;
        }
      }
    }
    #discovery-controls {   
      .btn {
        display: block;
        margin-top: 1em;
        font-size: 1em;
        padding: 1em;
        width: 100%;
        box-sizing: border-box;
      }
      
      #discovery-submit-btn {
        @extend .btn;
        @extend .btn-primary;
      }
      #discovery-reset-btn {
        @extend .btn;
        @include button-variant(#000, transparent, $clr4);
      }
    }
  }
}

.textbook {
  border: solid 1px $clr1;
  display: inline-block;
  position: relative;
  overflow: hidden;
  padding: 1em;
  float: left;
  text-align: left;
  margin-bottom: 15px;
  width: 100%;
  height: 20em;
  color: #fff;
  background: $clr1;           
  
  .textbook-header {
    text-align: center;
    margin-top: 0px;
    font-size: 0.7em;
    min-height: 1.4em;
    z-index: 2;
    position: relative;
  }
  .textbook-title {
    font-family: $font-family-alt-header;
    font-size: 1.1em;
    z-index: 2;
    position: relative;
    line-height: 1.3em;
    margin: 1.5em 0 0.5em 0;
    
    a {
      color: #fff;
      text-decoration: none;
      
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .textbook-authors {
    font-size: 0.9em;
    line-height: 1.6em;
    z-index: 2;
    position: relative;
  }
  .textbook-footer {
    bottom: 1em;
    display: block;
    position: absolute;
    margin-bottom: 0;
    font-size: 0.7em;
    // background-image: url(../images/ui-whitebullet-right.png);
    margin:0;
    background-size: 1.3em;
    padding: 0 0 0 0em;
    color: $clr1;
    font-weight:bold;
    width: 90%;
    display:inline-block;
    background-position: 0.1em 0.1em;
    background-repeat: no-repeat;
    z-index: 2;
    
    a {
      color: #fff;
      font-weight: normal;
      text-decoration: underline;
    }
    a:hover{
      text-decoration: underline;
    }
    .reviewed-textbook {
      display:inline-block;
      float: right;
      width: 14px;
    }
  }           
  .textbook-cover{
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.3;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
  }
}

#discovery-results {
  padding-left: 1em;
}
#recentlyadded-box {
  padding: 0 1em;
}
#results-header{
  padding: 0px;
  h3 {
    text-align: center;
    margin: 0 1em 1em;
     
    .searchterm {
      color: $clr4-darker;
      text-transform: capitalize;
    }
    .notsearchterm {
      color: $brand-primary;
      text-transform: none;
    }
  }
}
#results-box {
  padding: 0px;
      
  #results-list {
    padding: 0px;
    .result-item {
      padding-left: 0;
    }
    .result-item.col-xs-6:nth-child(even) {
      // padding-right: 0;
    }
    
    .create-new-item {
      @extend .textbook;
      .textbook {
        border: solid 1px $clr2-dark;
        display: inline-block;
        position: relative;
        overflow: hidden;
        padding: 1em;
        float: left;
        margin-bottom: 15px;
        width: 100%;
        height: 20em;
        color: $clr2-dark;
        background: #fff;
        background-image: none;
        .textbook-cover{
          background-image: none;
        }
        .textbook-title {
          text-transform: uppercase;
          font-family: $font-family-alt-header;
        }
        .textbook-footer {
          bottom: 1em;
          display: block;
          position: absolute;
          margin-bottom: 0;
          font-size: 0.7em;
          background-image: none;
          padding: 0;
          
          #start-authoring-btn {
            @extend .btn;
            @extend .btn-secondary;
            @include button-variant($clr2-dark, #fff, $clr2-dark);
            font-size:1em;
            width:100%;
          }
        }
      }
    }
  }
}
#results-footer {
  text-align: center;
  #results-more {
    
    #results-more-btn {
      @extend .btn;
      @include button-variant($clr1-dark, #fff, $clr1-dark);
      padding: 1em 3em;
    }
  }
  #results-pagecounter{
    margin: 20px auto;
    
    .catalogue-results-nav {
      cursor: pointer;
    }
    .catalogue-results-nav:hover {
      opacity: 0.6;
    }
    #results-prev-btn{
      // display:inline-block;
      margin-right:20px;
      
      img{
        height:30px;
        width:30px;
      }
    }
    #results-next-btn{
      // display:inline-block;
      margin-left:20px;
      display: none;
      
      img{
        height:30px;
        width:30px;
      }
    }
    .resultspage {
      display:inline-block;
      background-color: #aeaeae;
      font-size: 0.8em;
      line-height: 2em;
      width: 2em;
      height: 2em;
      margin: 0 0.5em 1em 0;
      border: solid 1px #aeaeae;
      cursor: pointer;
    }
    .resultspage:hover, .resultspage.selected {
      background: #efefef;
    }
  }
  #results-counterdetails {
    text-align: center;
    font-size: 0.7em;
  }
}


/* XS styling */
@media (max-width: $screen-xs-max) {
  .textbook{
    height: 17em;
    font-size: 1em;
    
    .textbook-title {
      font-size: 1em;
      line-height: 1.2em;
    }
    .textbook-authors {
      font-size: 0.8em;
      line-height: 1.2em;
    }
  }
  #discovery-results,#recentlyadded-box {
    padding: 0;
  }
  .result-item .textbook .textbook-footer{
    width: 95%;
  }
  #discovery {
    border: none;
    padding: 0;
  }
  #discovery-results {
    margin-top: 2em;
    
    #results-box {
      #results-prev,#results-next {
        display: none;
      }
      #results #results-list .result-item .textbook{
        font-size: 0.85em;
        .textbook-footer {
          
	    }
	  }
    }
    #results-footer {
      #results-more {
	    display: block;
	  }
	  #results-pagecounter,#results-counterdetails {
	    display: none;
	  }
	}
  }
}
/* SM styling */
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  #discovery-results,#recentlyadded-box {
    padding: 0;
  }
  #discovery {
    
  }
  .result-item .textbook .textbook-footer{
    width: 95%;
  }
  #discovery-results {
    #results-box {
      #results-prev,#results-next {
        display: none;
      }
      #results #results-list .result-item .textbook{
        font-size: 0.85em;
	  }
    }
    #results-footer {
      #results-more {
	    display: block;
	  }
	  #results-pagecounter,#results-counterdetails {
	    display: none;
	  }
	}
  }
}

#preview-header {
  #textbook-title {
    font-size: 3em;
    margin: 0 0 0.2em;
  }
  #textbook-title-authors {
    font-size: 1.4em;
    margin: 0 0 4em;
  }
  .btn{
    margin-bottom: 0.5em;
    padding: 1em 3em;
    font-size: 1em;
    font-weight: bold;
  }
  #download-btn {
    @extend .btn-primary;
    margin: 0;
    width: 100%;
  }
  #print-btn {
    @include button-variant(#000, #fff, $clr4);
    margin: 0;
    width: 100%;
  }
  #available-versions {
    margin: 0 15px 0 0;
    padding: 0;
    display: block;
    border-top: none;
    border-right: solid 1px $clr4;
    border-bottom: solid 1px $clr4;
    border-left: solid 1px $clr4;
    position: absolute;
    box-sizing: border-box;
    background-color: lighten($clr4-lighter,20%);
    z-index: 2;
  
    ul {
      padding: 0;
      margin: 0;
    }
    li {
      list-style: none;
      padding: 1em 3em;
      margin: 0;
      float: left;
      display: block;
      width: 100%;
      font-weight: bold;
      background-color: lighten($clr4-lighter,20%);
      cursor: pointer;
    }
    li:hover{
      background-color: $clr4-lighter;
    }
  }   
}

#preview-description{
  #textbook-description {
    font-size: 0.8em;
    line-height: 1.6em;
  }
  h2 {
    color: $clr3;
    margin: 0 0 0.3em 0;
  }
  #preview-table-of-contents {
    font-size: 1.2em;
  }
  #textbook-adopt-adapt{
    display: block;
    float: right;
    margin: 0 0 1em 1em;
    width: 220px;
  
    #adopt-btn {
      @include button-variant(#fff, $clr2-dark, $clr2-dark);    
    }
    #adapt-btn {
      @include button-variant($clr2-dark, $clr2-light, $clr2-dark);
    }
    .btn{
      clear: both;
      float: right;
      margin-bottom: 0.5em;
      padding: 1em 3em;
      font-size: 1.1em;
      font-weight: bold;
      width:100%;
      display:block;
      box-sizing: border-box;
    }
  }
}

#preview-info{
  #preview-bookcover {
    width: 100%;
    margin: 1em 0 2em 0;
  }
  
  #authors{
    padding: 0;
    .author-info{
      margin: 0 0 1em 0;
      border-top: 1px solid #aeaeae;
      padding-top: 1em;
    
      .author-name {
        text-transform: uppercase;
        font-size: 1.2em;
        margin-top: 0;
      }
      
      .author-bio {
        font-size: 0.75em;
      }
    
      .author-portrait {
        width: 100px;
        height: 100px;
        float: right;
        margin: 0 0 0 2em;
        border-radius: 50%;
      }
    }
  
    .author-info:first-of-type {
      border-top: none;
    }
    .author-info:last-of-type {
      margin-bottom: 2em;
    }
  }
  
  #preview-about {
    @include educatoractionbox($clr2-dark,$clr2-light,$clr2-light);
    padding: 1.5em;
    hr {
      margin-top: 0px;
      margin-bottom: 20px;
    }
    h3 {
      font-size: 2em;
      text-align: center;
    }
    
    #preview-metadata{
      p {
        font-size: 0.8em;
      }
      h6 {
        text-transform: uppercase;
        font-size: 0.7em;
        font-weight: bold;
        margin-bottom: 0;
      }
    }
    #preview-use-data {
      text-align: right;
      
      h5{
        font-size: 0.9em;
        font-weight: bold;
      }
    }
    
    #preview-rights{
      padding-right: 1em;
      padding-left: 0;
      font-size: 0.8em;
    }
    #preview-rights-logo {
      padding-left: 1em;
      
      img {
        display: block;
        margin: 0 auto;
        width: 100%;
      }
    }
  }
}