.content-info {
  height: 4em;
  padding-bottom: 20px;
  font-family: $font-family-sans-serif;
  text-align: center;
}

#main-footer {
  ul {
    @extend .liststyle;
  }
  padding: 2em 0 4em;
  background-color:$clr1-light;
  color:#fff;
  font-family: $font-family-sans-serif;
  a {
 	font-family: $font-family-sans-serif;
 	color:#fff;
  }
  h2.widgettitle {
    font-size: 20px;
    margin: 0 0 0.5em;
  }
  #ecampus_footer_logo{
    margin-bottom: 10px;
  }
  #ontario_footer_logo{
    margin-top: 10px;
  }
}

#credits-footer {
  padding: 1em 0;
  background-color:$clr1-dark;
  color:#fff;
  font-family: $font-family-sans-serif;
  a {
 	color:#fff;
  }
  img {
    max-width: 32px;
  }
  #credits-pressbooks {
    text-align:center;
    height: 32px;
    line-height: 32px;
  }
  #credits-social-icons {
    padding:0;
    text-align:right;
    float: right;
  }
 
  /* XS styling */
  @media (max-width: $screen-xs-max) {
    img {
      max-width: 24px;
    }
    #credits-pressbooks {
      font-size: 0.83em;
      height: 24px;
      line-height: 24px;
      text-align:left;
    }
  }
  /* SM styling */
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    img {
      max-width: 24px;
    }
    #credits-pressbooks {
      height: 24px;
      line-height: 24px;
      text-align:left;
    }
  }
}