.page-header {
  text-align: center;
  border-bottom: 0;
}

.error404 .page-content {
  text-align: center;
}

.page-content {
  text-align:center;
  padding-left:0;
  padding-right:0;
  hr {
    @extend .headerbar;
    background-color:$clr2-dark;
  }
  h2.entry-title {
    font-size:3em;
    margin:0.15em 0 1em 0;
    text-transform: uppercase;
    font-weight: bold;
    color: $clr2-dark;
  }
  .entry-content {
    @extend .infobox;
    background-color:#fff;
    color: $clr2-dark;
    border: 2px solid $clr2-dark;
    border-radius: 4px;
    text-align: left;
    h1{
      font-size: 2.8em;
      text-transform: none;
      letter-spacing: 0.05em;
    }
    h2{
      font-size: 1.8em;
      text-transform: uppercase;
    }
    h3{
      font-size: 1.2em;
      text-transform: uppercase;
      font-style:italic;
    }
    hr {
      @extend .headerbar;
      background-color:#fff;
    }
    .btn-inverted {
      padding: 1.3em 2em;
      font-size: 1.4em;
    }
    p:not(:only-type):first-of-type {
      margin: 0em 0em 3em;
    }
    p:not(:only-type):last-of-type {
      margin: 2em 0em 0em;
    }
    blockquote {
      border-left: 10px solid $clr2;
    }
    /* XS styling */
    @media (max-width: $screen-xs-max) {
      h1 {
        font-size:2.3em;
        letter-spacing: 0;
      }
      h2{
        font-size: 1.5em;
      }
      h3{
        font-size: 1.1em;
      }
    }
  }  
  .entry-content > :first-child{
    margin-top: 0;
  }
  .entry-content > :last-child{
    margin-bottom: 0;
  }
}

#page-footer {
  height: 200px;
  display: block;
}